{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}ログイン{% endblock title %}

{% block extrahead %}
    <style>
        #login {
            display: block;
        }
        #two_auth {
            display: none;
        }
    </style>
{% endblock extrahead %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {# <link href="{% static 'css/accounts/accounts.css' %}" rel="stylesheet"> #}

    <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <h2>ログイン</h2>
        <hr>

        <div id="login">
            <div>
                <label for="id_username">ID</label>
                {% render_field form.username class="form-control" %}
            </div>
            <div>
                <label for="id_password1">パスワード</label>
                {% render_field form.password class="form-control" %}
            </div>
            <br>
            <button id="login_button" type="button" class="btn btn-primary">ログイン</button>
        </div>
        <div id="two_auth">
            <label for="auth_token">認証キー</label>
            <input id="auth_token" type='text' name="auth_token" maxlength="6">
            <button id="two_auth_button" type="submit" class="btn btn-primary">ログイン</button>
        </div>

        <!-- ログイン失敗時には、ここでエラーメッセージを表示する -->
        {% if form.errors %}
            <p>ユーザー名もしくはパスワードが違います。</p>
        {% endif %}
    </form>
    <script>
        $(function () {
            setOnEnterClickButton('login_button');
            $('#login_button').on('click', function () {
                var data = {
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                    'username': $("input[name=username]").val(),
                    'password': $("input[name=password]").val()
                };

                $.post("{% url 'accounts:user_check' %}", data)
                    .done(function (data) {
                        if (data.is_two_auth === false) {
                            $('#two_auth_button').trigger('click');
                            return
                        }
                        if (data.is_check_ok === true) {
                            $('#login').hide();
                            $('#two_auth').show();
                            $('input[name=username]').prop('readonly', true);
                            $('input[name=password]').prop('readonly', true);
                            $('input[name=auth_token]').focus();
                            setOnEnterClickButton('two_auth_button');
                        }
                    }).fail(function () {
                    }).always(function () {
                });
            });

            $('#auth_token').on('input', function() {
                // 半角変換
                var halfVal = $(this).val().replace(/[！-～]/g,
                    function (tmpStr) {
                        // 文字コードをシフト
                        return String.fromCharCode(tmpStr.charCodeAt(0) - 0xFEE0);
                    }
                );
                // 数字以外の不要な文字を削除
                $(this).val(halfVal.replace(/[^0-9]/g, ''));
            });
        });

        function setOnEnterClickButton(targetButtonId,formName){
            var form = (formName == null) ? document.forms[0] : document.forms[formName];
            var targetButton = document.getElementById(targetButtonId);
            document.onkeypress=function(e){
                e = e ? e : event;
                var keyCode= e.charCode ? e.charCode : ((e.which) ? e.which : e.keyCode);
                var elem = e.target ? e.target : e.srcElement;
                if(Number(keyCode) == 13) {//13=EnterKey
                    if(!isIgnoreEnterKeySubmitElement(elem)){
                        targetButton.click();
                    }
                    return isInputElement(elem) ? false : true;
                }
            }
        }
        function isIgnoreEnterKeySubmitElement(elem){
            var tag = elem.tagName;
            if(tag.toLowerCase() == "textarea"){
                return true;
            }
            switch(elem.type){
            case "button":
            case "submit":
            case "reset":
            case "image":
            case "file":
                return true;
            }
            return false;
        }
        function isInputElement(elem){
            switch(elem.type){
                case "text":
                case "radio":
                case "checkbox":
                case "password":
                return true;
            }
            return false;
        }
    </script>
{% endblock content %}
