{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{#{% load bootstrap %}#}

{% block title %}ログアウト{% endblock title %}

{% block content %}
    <style>
        body {
            padding: 10px;
        }
    </style>

    <div id="logout">
        <h3 class="page-header">ログアウトしました</h3>
        <a href="{% url 'accounts:login' %}" type="button" class="btn btn-info">ログイン画面へ</a>
    </div>
{% endblock content %}
