{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}メイン{% endblock title %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#create_qrcode').on('click', function () {
                var data = {
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                };

                $.post("{% url 'main:display_qrcode' %}", data)
                    .done(function (data) {
                        $('#qrcode').attr('src', 'data:image/png;base64,' + data.img);
                    }).fail(function () {
                    }).always(function () {
                });
            });
        });
    </script>
{% endblock extrahead %}

{% block content %}
    <h1>Google authenticate demo</h1>
    <div>
        <button id="create_qrcode">QRコード作成</button>
        {% csrf_token %}
        <img id="qrcode" width="200">
    </div>
    <a href="{% url 'accounts:logout' %}"><button class="btn btn-danger">ログアウト</button></a>
{% endblock content %}