<!DOCTYPE html>
{% load staticfiles %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}auth2test{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{#<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">#}
{#<link href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}" rel="stylesheet">#}
{#<script src="{% static 'js/jquery/jquery-2.2.0.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>#}

{% block extrahead %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>